/* Styles for index.html */
/* main */
.main {
    text-align: center;
}
/* hero */
.hero-conteiner {
    margin: 0 auto 94px auto;
    max-width: 1600px;
    height: 600px;
    background-color: rgba(47, 48, 58, 0.8);
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.8),
        rgba(47, 48, 58, 0.8)),
        url("../img/Header-img.jpg");
}
.header {
    color: var(--secondary-text-color);
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}
.absolute {
    position: absolute;
    top: 224px;
    right: 0px;
}
.header.absolute {
    top: 200px;
    right: 430px;
    left: 430px;
}
.button {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 4px;

    background-color: var(--primary-page-color);
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-decoration: none;
}
.button.absolute {
    top: 330px;
    right: 700px;
}
/* sections */
.section {
    color: #212121;
    font-weight: 700;
    line-height: 1.14;
}
.conteiner {
    margin: 0 auto 94px auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.section-header {
    margin-bottom: 50px;

    background-color: var(--secondary-page-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
}
.hidden {
    position: absolute;
    visibility: hidden;
}
/* features */
.ul .items {
    align-items: flex-start;
}
.ul .items:not(:last-child) {
    margin-right: 30px;
}
.features-items {
    display: flex;
    width: 270px;
    height: 120px;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: #F5F4FA;
}
.icon {
    width: 70px;
    height: 70px;

    fill: #AFB1B8;
}
.features {
    text-align: left;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;

    margin-bottom: 20px;
}
.section-text {
    text-align: left;
    color: #757575;
    font-weight: 400;
    line-height: 1.71;
}
/* what we do */
.relative {
    position: relative;
}
.absolute-layer::before {
    position: absolute;
    top: 224px;
    right: 0px;
    content: '';
    width: 370px;
    height: 70px;
    background-color: rgba(47, 48, 58, 0.8);
}
.features.customize {
    top: 251px;

    width: 370px;

    color: var(--secondary-text-color);
    text-align: center;
}
/* our team */
.team {
    padding-top: 94px;
    padding-bottom: 94px;
}
.absolute.desine-desisions {
    top: 343px;
    right: 490px;
}
.items-width {
    width: 270px;
    padding-bottom: 24px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.photo-margin {
    max-width: 270px;
    margin-bottom: 30px;
}
.teammate-name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.teammate-name.section-text {
    margin-bottom: 16px;

    text-align: center;
    font-weight: 400;
}
.ul .team-item:not(:last-child) {
    margin-right: 10px;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    margin-bottom: 0;
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link .icon {
    width: 20px;
    height: 20px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);   
}
.social-link:hover,
.social-link:focus,
.social-link:hover .icon,
.social-link:focus .icon {
    fill: var(--secondary-page-color);
    background-color: var(--primary-page-color);
}
/* regular customers */
.section-link {
    color: #AFB1B8;
    text-decoration: none;
}
.section-link:hover .icon,
.section-link:focus .icon {
    color: var(--primary-page-color);
    fill: var(--primary-page-color);
}
.clients-items {
    display: flex;
    width: 170px;
    height: 90px;
    align-items: center;
    justify-content: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-items .icon {
    width: 44px;
    height: 49px;
    margin-bottom: 0;

    fill: #AFB1B8;
    
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-link:hover,
.clients-link:focus,
.clients-items:hover,
.clients-items:focus {
    fill: var(--primary-page-color);
    border-color: var(--primary-page-color);
}
.tagline.icon {
    width: 40px;
    height: 52px;
}
.company.icon {
    width: 41px;
    height: 43px;
}
.foster-peters.icon {
    width: 80px;
    height: 42px;
}
.brand.icon {
    width: 59px;
    height: 47px;
}
.tag-line.icon {
    width: 89px;
    height: 45px;
}
/* Styles for portfolio.html */
/* buttons */
.conteiner.customize {
    margin: 0 auto 34px auto;
    padding: 0 0 16px 0;
}
.ul .portfolio-item:not(:last-child) {
    margin-right: 8px;
}
.portfolio-button {
    min-width: 103px;
    height: 38px;
    padding: 6px 22px;
    border: 0;
    border-radius: 4px;
    
    background-color: #F5F4FA;
    color: var(--primary-text-color);
    font-family: Roboto, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:hover, .portfolio-button:focus {
    background-color: var(--primary-page-color);
    color: var(--secondary-text-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* portfolio */
.portfolio.conteiner {
    margin-right: auto;
    margin-left: auto;
}
.ul.portfolio:nth-child(n+1) {
    flex-wrap: wrap;
}
.ul .portfolio:nth-child(3n) {
    margin-right: 0px;
}
.portfolio .items {
    margin-bottom: 30px;
}
.portfolio .items:nth-last-child(-n + 3){
    margin-bottom: 0;   
}
.portfolio.items {
    position: relative;
    width: 370px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.portfolio-link {
    text-decoration: none;
}
.hover-block {
    position: absolute;
    top: 0px;
    left: 0px;

    width: 370px;
    height: 294px;
    padding: 63px 24px;

    color: var(--secondary-text-color);
    font-size: 18px;
    line-height: 1.56;
    text-align: left;
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(102%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-conteiner {
    padding: 20px 24px;
    text-align: left;
}
.portfolio-header {
    margin-bottom: 4px;
    text-align: left;
    color: var(--primary-text-color);
    font-weight: 700;
    font-size: 18px;
    line-height: 2.00;
    letter-spacing: 0.06em;
}
.portfolio-text {
    color: #757575;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88;
}
.techno-crak,
.new-orlean,
.seafood,
.prime,
.boxes,
.inspiration,
.limited-edition,
.lab,
.growing-business {
    position: relative;
    overflow: hidden;
}
.techno-crak:hover .hover-block,
.new-orlean:hover .hover-block,
.seafood:hover .hover-block,
.prime:hover .hover-block,
.boxes:hover .hover-block,
.inspiration:hover .hover-block,
.limited-edition:hover .hover-block,
.lab:hover .hover-block,
.growing-business:hover .hover-block,
.portfolio-link:hover .hover-block {
    background-color: rgba(33, 150, 243, 0.9);
    transform: translateY(0);
}
/* modal window */
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 165, 0, 0);
    opacity: 1;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
}
.backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(0.8);
}
.modal {
    position: absolute;
    top: 50%;
    left: 50%;

    width: 528px;
    height: 581px;
    padding: 40px 40px;
    border-radius: 4px;
    background-color: #FFFFFF;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    transform: translate(-50%, -50%) scale(1);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button {
    position: absolute;
    top: 8px;
    left: 490px;

    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    background-color: #FFFFFF;
}
.modal-button .icon {
    width: 11px;
    height: 11px;
    fill: #000000;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus,
.modal-button:hover .icon,
.modal-button:focus .icon {
    fill: var(--primary-page-color);
    cursor: pointer;
}
.modal-content {
    position: relative;
    color: var(--primary-text-color);
}
.modal-header {
    margin-bottom: 12px;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.15;
}
.modal-label {
    display: block;
    margin-bottom: 4px;

    color: #757575;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    cursor: pointer;
}
.modal-iput {
    width: 100%;
    height: 40px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-left: 42px;
    margin-bottom: 10px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    cursor: pointer;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-content .icon {
    position: absolute;
    top: 64px;
    left: 12px;
    width: 18px;
    height: 18px;
    fill: #212121;
}
.name,
.phone,
.email {
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon.phone {
    top: calc(64px + 68px);
}
.icon.email {
    top: calc(64px + 68px * 2);
}
.modal-iput:focus,
.modal-iput:focus + .name,
.modal-iput:focus + .phone,
.modal-iput:focus + .email {
    outline: none;
    border-color: var(--primary-page-color);
    fill: var(--primary-page-color);
}
.modal-comment {
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    margin-bottom: 20px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    resize: none;

    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-comment::placeholder {
    color: rgba(117, 117, 117, 0.5);
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
}
.modal-comment:focus {
    outline: none;
    border-color: var(--primary-page-color);
}
.modal-checkbox {
    width: 16px;
    height: 15px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
}
.checkbox.modal-label {
    display: inline-block;
    margin-bottom: 30px;
    margin-left: 8px;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}
.icon.square {
    width: 16px;
    height: 16px;
    top: calc((64px + 68px * 2) + 203px);
    left: 0;
}
.square {
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-checkbox:checked ~ .square {
    fill: var(--primary-page-color);
    background-image: url(../img/icon-check.svg);
    background-color: var(--primary-page-color);

}
.modal-link {
    color: var(--primary-page-color);
}
.modal-content .button {
    display: inline;
    position: relative;
    left: 50%;
    transform: translate(-50%);

    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}