// sections
.section {
    color: #212121;
    font-weight: 700;
    line-height: 1.14;
}
.conteiner {
    margin: 0 auto 94px auto;
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
}
.section-header {
    margin-bottom: 50px;

    background-color: var(--secondary-page-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: none;
}
.hidden {
    position: absolute;
    visibility: hidden;
}