.button {
    display: flex;
    width: 200px;
    height: 50px;
    align-items: center;
    justify-content: center;
    border: 0;
    border-radius: 4px;

    background-color: $primary-page-color;
    color: $secondary-text-color;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-decoration: none;
}