// our team
.team {
    padding-top: 94px;
    padding-bottom: 94px;
}
.absolute.desine-desisions {
    top: 343px;
    right: 490px;
}
.items-width {
    width: 270px;
    padding-bottom: 24px;

    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}
.photo-margin {
    max-width: 270px;
    margin-bottom: 30px;
}
.teammate-name {
    margin-bottom: 10px;

    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
}
.teammate-name.section-text {
    margin-bottom: 16px;

    text-align: center;
    font-weight: 400;
}
.ul .team-item:not(:last-child) {
    margin-right: 10px;
}
.social-link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    margin-bottom: 0;
    border-radius: 50%;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-link .icon {
    width: 20px;
    height: 20px;

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus,
    &:hover .icon,
    &:focus .icon {
        fill: $secondary-page-color;
        background-color: $primary-page-color;
    }
}